<a href="https://colab.research.google.com/github/agrawalumesh/Logicmojo-AI-ML-Sept25-Umesh/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
coordinates = (10.0, 20.0)
type(coordinates)
c = (1, 2)
type(c)

tuple

In [ ]:
l=[1,3,0]
l

[1, 3, 0]

In [ ]:
l=9
if l<8 and l<5 or l==9:
    print("hello")

hello

In [ ]:
from re import U
n=input("Please enter value ")
try:
  n+=1
except ValueError :
  n=1
  print (n)

Please enter value 1

TypeError: can only concatenate str (not "int") to str

In [ ]:
i=1
while i==1:
  n=input("Please enter the integer number to squere : ")
  n=int(n)
  if n==5:
    break
  elif n%4==0:
    pass
  else:
    print (n*n)
print ("User enters 5")

Please enter the integer number to squere : 5
User enters 5

In [ ]:
i=1
while i==1:
  n=input("Please enter the integer number to squere : ")
  n=int(n)
  if n==5:
    break
  elif n%4==0:
    continue
  else:
    print (n*n)
print ("User enters 5")

Please enter the integer number to squere : 4
Please enter the integer number to squere : 4
Please enter the integer number to squere : 4
Please enter the integer number to squere : 3
9
Please enter the integer number to squere : 3
9
Please enter the integer number to squere : 56
Please enter the integer number to squere : 5
User enters 5

In [ ]:
i=j=5
for i in range(3):
  for j in range(5):
    print("*", end ='')
  print()

*****
*****
*****

In [ ]:
n = 5
for x in range(n):
  for y in range(x + 1):
    print('*', end = "")
  print()

*
**
***
****
*****

In [ ]:
n=5
for i in range(n):
  for j in range(n-1 -i):
    print(' ',end ='')
  for x in range(2*i+1):
    print('*',end='')
  print ()

    *
   ***
  *****
 *******
*********

In [ ]:
for x in range(3):  # Loop for 3 rows
    print('*a' * 5)

*a*a*a*a*a
*a*a*a*a*a
*a*a*a*a*a

In [ ]:
for i in range(6):  # Loop for 3 rows
    print('*' * i)

*
**
***
****
*****



*   Write a program to print a diamond shape using nested loops.

In [ ]:
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
n=5
for i in range(n):
  for j in range(n-1 -i):
    print(' ',end ='')
  for x in range(2*i+1):
    print('*',end='')
  print ()
for i in range(n-2,-1,-1):  # as does not want reprint line 5
  for j in range(n-1 -i):
    print(' ',end ='')
  for x in range(2*i+1):
    print('*',end='')
  print ()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
n=6
for i in range(1,n+1):
  for j in range(n-i):
    print(' ',end ='')
  for x in range(2*i-1):
    print('*',end='')
  print ()
for i in range(n-1,-1,-1):  # as does not want reprint line 5
  for j in range(n-i):
    print(' ',end ='')
  for x in range(2*i-1):
    print('*',end='')
  print ()

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
range(1,3+1)
for i in range(5):
  print(i)
print('--------')
for i in range(2,5):
  print(i)
print('--------')
for i in range(1,3+1):
  print(i)
print('----v----')
for i in range(5, 0, -1):
  print(i)
print ('--------')
for i in range(n-2, -1, -1):
  print(i)
print ('--------')
for i in range(n-2, 0, -1):
  print(i)

0
1
2
3
4
--------
2
3
4
--------
1
2
3
----v----
5
4
3
2
1
--------
3
2
1
0
--------
3
2
1

  - Create a hollow square where only the borders are *.

In [ ]:
*****
*   *
*   *
*   *
*****

In [79]:
my_list = [0, 1, 2, 3, 4, 5, 6]
sliced_list = my_list[:4]
print(sliced_list)  # Output: [0, 1, 2, 3]

sliced_list = my_list[2:]
print(sliced_list)  # Output: [2, 3, 4, 5, 6]

sliced_list = my_list[::2]
print(sliced_list)  # Output: [0, 2, 4, 6]

[0, 1, 2, 3]
[2, 3, 4, 5, 6]
[0, 2, 4, 6]